# TensorFlow is installed conditionally in the GitHub Actions workflow, do not uncomment.
# tensorflow-cpu==2.15.0

# Force a modern version of protobuf to resolve library conflicts
protobuf==4.25.3

# Core ML and data dependencies
keras==2.15.0
h5py==3.8.0
numpy==1.26.4
pandas==2.0.0
opencv-python-headless==4.10.0.84
scikit-learn==1.2.2
scipy==1.11.4
ecg-plot==0.2.8
matplotlib==3.7.1
tqdm==4.66.4

# Dashboard, server, and data format dependencies
Flask==3.0.3
waitress==2.1.2
wfdb==4.1.2
xmltodict==0.13.0
xmljson==0.2.1